<div [ngClass]="['home']">
    <header>
        <mat-toolbar color="primary" [ngClass]="['home__header']">
            <div [ngClass]="['home__container']">
                <button mat-icon-button [matMenuTriggerFor]="menu" (click)="menuIsOpen = !menuIsOpen">
                    <mat-icon>menu</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button [ngClass]="['home__button']"
                      [routerLink]="['']"
                      [routerLinkActive]="['home__button_active']"
                      [routerLinkActiveOptions]="{ exact: true }"
                      color="warn"
                    >
                        Home page
                    </button>
                    <button [ngClass]="['home__button']"
                      [routerLink]="['/list']"
                      [routerLinkActive]="['home__button_active']"
                    >
                        List page
                    </button>
                    <button [ngClass]="['home__button']"
                      [routerLink]="['/tree']"
                      [routerLinkActive]="['home__button_active']"
                    >
                        Tree page
                    </button>
                </mat-menu>
                <h1>PROJECT ANGULAR-PET</h1>
            </div>
            <p>{{location | titlecase}} page</p>
        </mat-toolbar>
    </header>
    <main [ngClass]="['home__main']">
        <router-outlet></router-outlet>
    </main>
    <footer>
        <mat-toolbar [ngClass]="['home__footer']">
            <p>Artyom</p>
        </mat-toolbar>
    </footer>
</div>